<h1>Welcome to awesome amazing coin program!<h1>
  <form action="/change">
    <div class="form-group">
      <label for="coins">What amount of change? (for example enter 100 if the amount is one dollar)</label>
      <input id="coins" name="coins" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Submit</button>
  </form>
